@import url('https://fonts.googleapis.com/css2?family=Poppins');
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
a{
   text-decoration: none;
}

ul{
    list-style:none; 
}

body, html{
    overflow-x:hidden;

}
.navbar {
    position:absolute;
    top:0;
    left:0;
    display:flex;
    width:100%;
    justify-content: space-between;
    padding: 20px;
    color:rgb(244, 239, 222);
}
.navbar a{
    color:rgb(244, 239, 222);
}
.navbar a:hover{
    color:#291b04;
}

.nav-links{
    display: flex;
    align-items: center;
    font-size:3.8vmin;
    
    
}
.nav-links li{
    margin:0 30px;
    
}
header{
    width:100vw;
    height:100vh;
    background-image: url('./brown.jpg');
    background-position:bottom;
    background-size: cover;
    display: flex;
    align-items:flex-end;
    justify-content: center;
}
.header-content{
    margin-bottom:150px;
    color:rgb(244, 239, 222);
    text-align:center;
    font-size:20px;
}
.header-content h2{
    font-size: 5vmin;
}
.line{
    width:350px;
    height:4px;
    background: #291b04;
    margin:10px auto;
    border-radius:5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top:50px;
    margin-bottom:30px;
}

.ctn{
    padding: 8px 15px;
    background:#291b04;
    border-radius:30px;
    color:rgb(244, 239, 222);
}
.ctn:hover{
    background:rgb(244, 239, 222);
    color:#291b04;
}
.menu-btn{
    position:absolute;
    top:30px;
    right:30px;
    width:40px;
    cursor:pointer;
    display:none;
}

section{
    width:80%;
    margin:80px auto;
}
.title{
    text-align:center;
    font-size:4vmin;
    color:#291b04;
}
.row{
    display:flex;
    align-items:center;
    width:100%;
    justify-content: space-between;
}
.row .col{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.row .col img{
    width:350px;

}
.events .row{
    margin-top:50px;
}
h4{
    font-size:5vmin;
    color:#684918;
    margin:20px auto;
}
p {
    color:#846025;
    padding:0px 40px;
}
.events .ctn{
    margin-top:30px;

}

.footer{
    width:100%;
    min-height:90px;
    padding:20px 80px;
    margin:0;
    background:#291b04;
    text-align:center;
}
.footer p{
    color:#846025;
    margin:20px auto;
    font-size: 3.5vmin;
}
img{
    transition:transform .3s ease;
}
img:hover{
    transform:scale(1.1);
}
